* {
  margin: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav, footer{
  flex-shrink: 0;
}

section{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li{
  padding: 10px;
  margin: 2px;
  list-style: none;
}
#logo{
  width: 80vw;
  height: 200px;
  background: darkorange;
}
.layer{
  padding: 10px 5px;
  border-bottom: 2px solid gray;
  background:rgb(191, 185, 185) ;
  width: 100%;
}
